body {
	padding = 100px;
	background-image: linear-gradient(-79deg, #eeeeee 0%, #eeeeee 100%);
	background-image: url(bg1.png);
	text-align: center;
	font-family: 'Quicksand', san-serif;
	font-size: 20px;
}
ul {
	margin-left: -45px;
}
li {
	list-style: none;
	display: inline-block;
}
.main {
	width: 700px;
	height: 900px;
	background-color: #fafafa;
	margin: 0 auto;
	padding-top: 25px;
	border-radius: 30px;
	border: 1px solid #eeeeee'
}
.img {
	background-image: url(foto.png);
	background-color: #eaeaea;
	background-size: cover;
	border-radius: 100px;
	width: 10px;
	height: 165px;
	margin: 0 auto;
	border: 6px solid #eaeaea;
}
h1 {
	text-align: center;
	font-size: 30px;
	margin: 0 auto;
	font- weight: bold;
	color: #6944ff;
}
.text {
	text-align: center;
	font-size: 15px;
	margin: 0 auto;
	color: #324e63;
}
p {
	margin: 0 auto;
	padding-top: 20px;
	width: 500px;
	height: auto;
	color: #324e63;
}
